<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中医管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script></script>
    <style>
        .recipe-card {
            transition: transform 0.3s, box-shadow 0.3s;
            margin-bottom: 20px;
            height: 100%;
        }

        .recipe-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .herb-list {
            max-height: 120px;
            overflow-y: auto;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 10;
        }

        .card-body {
            padding-top: 40px;
        }
    </style>
    <script th:inline="javascript">
        function showToast(type, message, title) {
            let toastId = 'toast-' + Date.now();
            let toastHtml = `
                <div id="${toastId}" class="toast align-items-center text-bg-${type === 'error' ? 'danger' : type} border-0" role="alert">
                    <div class="d-flex">
                        <div class="toast-body">
                            <strong>${title}</strong><br>
                            <p class="text-break">
                                ${message}
                            </p>
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                    </div>
                </div>
            `;
            let toastContainer = document.getElementById('toastContainer');
            toastContainer.insertAdjacentHTML('beforeend', toastHtml);

            let toastElement = document.getElementById(toastId);
            let toast = new bootstrap.Toast(toastElement, {delay: 3000});
            toast.show();

            toastElement.addEventListener('hidden.bs.toast', function () {
                toastElement.remove();
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            const deleteConfirmModal = document.getElementById('deleteConfirmModal');
            deleteConfirmModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const descriptionId = button.dataset.id;
                const deletePrescription = document.getElementById('deletePrescription');
                deletePrescription.value = descriptionId;
            });
            const delete_prescription_form = document.getElementById('delete_prescription_form');

            delete_prescription_form.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(this);
                // const currentPageNum = document.getElementById('currentPageNum');
                // const dataNum = document.getElementById('dataNum');
                // let pageNum = currentPageNum.value;
                // if (dataNum.value === 1) {
                //     pageNum -= 1;
                // }
                // pageNum = Math.max(pageNum, 0);

                const currentPageNum = document.getElementById('currentPageNum');
                const dataNum = document.getElementById('dataNum');

                let pageNum = parseInt(currentPageNum.value);
                if (parseInt(dataNum.value) === 1 && parseInt(currentPageNum.value) - 1 > 0) {
                    pageNum = parseInt(currentPageNum.value) - 1;
                }

                $.ajax({
                    url: "/prescriptions",
                    type: 'DELETE',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        delete_prescription_form.reset();
                        refreshTable(pageNum);
                        showToast('success', '药方删除成功！', '操作成功');
                    },
                    error: function (xhr, status, error) {
                        delete_prescription_form.reset();
                        showToast('error', '药方删除失败！', '操作失败');
                    },
                    complete: function () {
                    }
                })
            });
        });

        function refreshTable(pageNum) {
            if (pageNum == null) {
                pageNum = 1;
            }

            $.ajax({
                url: "/prescriptions/refresh?pageNum=" + pageNum,
                type: 'GET',
                success: function (data) {
                    $("#prescriptionsTable").html(data);
                }
            })
        }
    </script>
</head>

<body>
<!-- 顶部导航 -->
<nav th:replace="page_template :: top_nav"></nav>
<div class="d-flex">
    <!-- 侧边导航 -->
    <div th:replace="~{page_template :: side_nav(uri='/prescriptions')}"></div>
    <!-- 内容 -->
    <div class="container-fluid my-5">
        <div class="row">
            <h2 class="fw-bold text-center">药方库</h2>
        </div>
        <div class="row" th:fragment="prescriptionsTable" id="prescriptionsTable">
            <div class="col-md-6 col-lg-4 col-xl-3 my-2"
                 th:each="prescriptionDTO, status: ${prescriptionTableDTO.getPrescriptionList()}">
                <div class="card recipe-card position-relative">
                    <button type="button" class="btn-close close-btn" data-bs-toggle="modal"
                            th:data-id="${prescriptionDTO.getPrescriptionId()}"
                            data-bs-target="#deleteConfirmModal"></button>
                    <div class="card-body">
                        <h3 class="card-title text-success">
                            <strong th:text="${prescriptionDTO.getPrescriptionName()}"></strong>
                        </h3>
                        <p class="card-text overflow-auto" style="max-height: 80px;"
                           th:text="'药方描述：' + ${prescriptionDTO.getPrescriptionDesc()}"></p>
                        <h6 class="mt-3 border-bottom pb-1">组成药材:</h6>
                        <ul class="list-group list-group-flush herb-list">
                            <li class="list-group-item d-flex"
                                th:each="medicine, status: ${prescriptionDTO.getPrescriptionMedicines()}">
                                <img style="height: 24px; width: 24px" src="/img/medicine.png"/>
                                <span th:text="${medicine.name}"></span>
                                <span th:text="${', ' + medicine.getFormattedGram() + ' 克'}"></span>
                            </li>
                        </ul>
                        <div class="table-responsive">
                            <table class="table table-bordered border-dark align-middle text-nowrap mt-3 mb-0">
                                <thead>
                                <tr>
                                    <th style="text-align: center; background-color: #8793B0; color: white;"
                                        th:each="mdcProp : ${prescriptionDTO.getPrescriptionMdcPropSum()}"
                                        th:text="${mdcProp.kind.valueZhCn}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="text-align: center;"
                                        th:each="mdcProp : ${prescriptionDTO.getPrescriptionMdcPropSum()}"
                                        th:text="${mdcProp.getFormattedLevel()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-muted flex-column-reverse"
                         th:text="'更新于：' + ${prescriptionDTO.getPrescriptionUpdatedTime()}"></div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="container d-flex justify-content-center align-items-center">
                    <ul class="pagination">
                        <li th:class="${prescriptionTableDTO.pageNum} > 1 ? 'page-item' : 'page-item disabled'">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="refreshTable(1)">
                                <<</p>
                        </li>
                        <li th:class="${prescriptionTableDTO.pageNum} > 1 ? 'page-item' : 'page-item disabled'">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="prescriptionTableDTO([[${prescriptionTableDTO.pageNum - 1}]])"><</p>
                        </li>
                        <li class="page-item" th:if="${prescriptionTableDTO.pageNum - 2} > 0">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="refreshTable([[${prescriptionTableDTO.pageNum - 2}]])"
                               th:text="${prescriptionTableDTO.pageNum - 2}"></p>
                        </li>
                        <li class="page-item" th:if="${prescriptionTableDTO.pageNum - 1} > 0">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="refreshTable([[${prescriptionTableDTO.pageNum - 1}]])"
                               th:text="${prescriptionTableDTO.pageNum - 1}"></p>
                        </li>
                        <li class="page-item active">
                            <p class="page-link" th:text="${prescriptionTableDTO.pageNum}"></p>
                        </li>
                        <li class="page-item"
                            th:if="${prescriptionTableDTO.pageNum + 1} <= ${prescriptionTableDTO.totalPage}">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="refreshTable([[${prescriptionTableDTO.pageNum + 1}]])"
                               th:text="${prescriptionTableDTO.pageNum + 1}"></p>
                        </li>
                        <li class="page-item"
                            th:if="${prescriptionTableDTO.pageNum + 2} <= ${prescriptionTableDTO.totalPage}">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="refreshTable([[${prescriptionTableDTO.pageNum + 2}]])"
                               th:text="${prescriptionTableDTO.pageNum + 2}"></p>
                        </li>
                        <li th:class="${prescriptionTableDTO.pageNum} < ${prescriptionTableDTO.totalPage} ? 'page-item' : 'page-item disabled'">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="refreshTable([[${prescriptionTableDTO.pageNum + 1}]])">></p>
                        </li>
                        <li th:class="${prescriptionTableDTO.pageNum} < ${prescriptionTableDTO.totalPage} ? 'page-item' : 'page-item disabled'">
                            <p class="page-link" style="cursor: pointer"
                               th:onclick="refreshTable([[${prescriptionTableDTO.totalPage}]])">>></p>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" id="dataNum" th:value="${prescriptionTableDTO.getPrescriptionList().size()}">
            <input type="hidden" id="currentPageNum" th:value="${prescriptionTableDTO.pageNum}">
        </div>
    </div>
    <div class="modal fade" id="deleteConfirmModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">确认删除</h4>
                </div>
                <div class="modal-body">
                    <h6>您确定要删除这个药方吗？此操作无法撤销。</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <form th:action="@{/prescriptions}" th:method="DELETE" id="delete_prescription_form">
                        <input type="hidden" id="deletePrescription" name="id">
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">确认</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="d-flex flex-column p-3">-->
    <!--        <div class="col-12 overflow-auto">-->
    <!--            <div class="container-fluid p-0" th:fragment="prescriptionTable" id="prescriptionTable">-->
    <!--                <table class="table table-striped table-hover align-middle text-nowrap">-->
    <!--                    <thead>-->
    <!--                    <tr class="table-primary">-->
    <!--                        <th style="text-align: center; width: 50px;">-->
    <!--                            #-->
    <!--                        </th>-->
    <!--                        <th style="text-align: center; width: 50px;">-->
    <!--                            序号-->
    <!--                        </th>-->
    <!--                        <th style="text-align: center; width: 100px;">-->
    <!--                            药方名-->
    <!--                        </th>-->
    <!--                        <th style="text-align: center; width: 400px;">-->
    <!--                            药方描述-->
    <!--                        </th>-->
    <!--                        <th style="text-align: center; width: 400px;">-->
    <!--                            中药列表-->
    <!--                        </th>-->
    <!--                        <th style="text-align: center; width: 100px;">-->
    <!--                            操作-->
    <!--                        </th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    <tbody>-->
    <!--                    <tr th:each="prescriptionDTO, status: ${prescriptionTableDTO}">-->
    <!--                        <td class="overflow-auto justify-content-center align-items-center text-center"-->
    <!--                            style="max-width: 50px;">-->
    <!--                            <label>-->
    <!--                                <input class="form-check-input" type="checkbox">-->
    <!--                            </label>-->
    <!--                        </td>-->
    <!--                        <td class="overflow-auto justify-content-center align-items-center text-center"-->
    <!--                            style="max-width: 50px;">-->
    <!--                            <p style="margin: 0;" th:text="${status.index + 1}"></p>-->
    <!--                        </td>-->
    <!--                        <td class="overflow-auto justify-content-center align-items-center text-center"-->
    <!--                            style="max-width: 100px;">-->
    <!--                            <p style="margin: 0;" th:text="${prescriptionDTO.name}"></p>-->
    <!--                        </td>-->
    <!--                        <td class="overflow-auto justify-content-center align-items-center text-center"-->
    <!--                            style="max-width: 200px;">-->
    <!--                            <p style="margin: 0;" th:text="${prescriptionDTO.description}"></p>-->
    <!--                        </td>-->
    <!--                        <td class="overflow-auto justify-content-center align-items-center text-center">-->
    <!--                            <div class="d-flex justify-content-center">-->
    <!--                                <a title="编辑" style="cursor:pointer">-->
    <!--                                    <img style="height: 20px; width: 20px" src="/img/edit.png"-->
    <!--                                         alt="编辑"/>-->
    <!--                                </a>-->
    <!--                            </div>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                </table>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="toast-container" id="toastContainer"
         style="position: fixed; top: 100px; right: 20px; z-index: 1055; min-width: 300px;"></div>
</div>
<!-- 底部 -->
<footer>
    <div th:replace="page_template :: footer"></div>
</footer>
</body>
</html>
